#root {
  width: 100%;
  padding: 0;
}
a {
  color: initial;
}
a:hover {
  color: initial;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
div {
  box-sizing: border-box;
}
.black-nav {
  position: fixed;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.15),
    inset 0px -1px 4px rgba(255, 255, 255, 0.25);
}
.title_image {
  width: 100%;
  min-height: 50vh;
}
.title_image * {
  width: 100%;
}
.post_list {
  display: flex;
  flex-direction: column;
}
.post {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #aaa;
  background: inherit;
}
.modal {
  display: flex;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  z-index: 20;
  min-height: 50vh;
  gap: 20px;
  color: #000000;
}
.modal div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalist:has(+ .modal) {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  z-index: 4;
}
